*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins",sans-serif;
}
.offset::before{
    content: "";
    height: 10rem;
    padding-top: -2rem;
 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h3{
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}
h6{
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
    font-weight: normal;
}

/*-----------------------------------------------nav-------------------------------*/
.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 10000;
}
.nav.scrolled{
    background-color: #fff !important;
    box-shadow:7px 10px 15px rgba(0,0,0,0.3);
    transition: background-color 200ms linear;

}
.nav .navbar-toggler{
    display: none;
    border: none;
    outline: none;

}
.nav .navbar-toggler .toggler-icon{
    width: 27px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0;
    position: relative;
    display: block;
    transition: all 0.3s ease-out 0s;
}
.nav .menu-bar .menu-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav .menu-bar .menu-item li{
    margin: 0 15px;
}
.nav .menu-bar .menu-item li a{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.nav .menu-bar .menu-item li a:hover{
    color: purple;
}
.nav .navbar-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav .navbar-social span {
   font-size: 18px;
   font-weight: 600;
   padding-right: row;
   color: #6c6c6c;
}
.nav .navbar-social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav .navbar-social ul li{
    margin: 0 7px;
}
.nav .navbar-social ul li a{
    color: #6c6c6c;
    font-size: 22px;
}
.nav img, footer img{
    height: 40px;
    width: 40px;
}

/*-------------------------------------------------------------------Home---------------------------------*/

.back{
    background-image: url(img/1.jpeg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.back .overlaye{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.8015581232492998) 0%, rgba(255,255,255,0.7455357142857143) 20%, rgba(0,212,255,0) 100%);
width: 100%;
height: 100%;
}
.back .hero-shap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.back .hero-shap img{
    width: 100%;
    display: block;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero-text h6{
    color: #1b1b1b;
}
.hero-text .heading-btn{
    margin-top: 22px;
}
.main-btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 48px;
    color: #0067f4;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
    z-index: 5;
}
.hero-text .heading-btn li{
    display: inline-block;
    margin: 10px 10px 0 0;
}
.hero-text .heading-btn li a.main-btn{
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    border: 0;
    line-height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.hero-text .heading-btn .btn-one{
    color: #fff;
}
.hero-text .heading-btn .btn-one::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,#535cf1,#A147e4);
    z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;
}
.hero-text .heading-btn .btn-one:hover::before{
    background-image: linear-gradient(to left,#535cf1,#A147e4);
    background-position: left center;
}

/*----------------------------------------------------------------------------service--------------------------------------*/

#wrapper{
    margin: 5rem 7rem 10rem 7rem;
}
.service h6{
    margin-bottom: 6rem;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;                                         
}
.service .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.service .service-content .service-img{
    width: 40%;
}
.service .service-content .service-img img{
    width: 70%;
}
.service .service-content .box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service .service-content .box .box-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.service .service-content .box .box-one .services{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
    
}
.service .service-content .box .box-one .services i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #535cf1;
}
.service .service-content .box .box-one .services .service-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}
/*----------------------------------------------------------pricing------------------------*/
.pricing{
    display: block;
    text-align: center;
    margin-top: 10rem;
}
.pricing h6{
    margin-bottom: 6rem;
}
.pricing .basic{
    width: 355px;
    height: 100%;
    border: 1px solid #535cf1;
    border-radius: 20px;
}
.pricing .basic h3{
    text-align: center;
    font-weight: 300;
    padding: 40px 0;
    background-color: #ecf0f1;
    transition: all ease 0.6s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    clip-path: polygon(0 0, 100% 0,100% 90%,0 100%);
}
.pricing .basic:hover h3{
    background-image: linear-gradient(to right,#535cf1, #A147e4);
    clip-path: polygon(0 0, 100% 0,100% 90%,0 100%);
    color: #fff;
}
.pricing #standard h3{
    background-image: linear-gradient(to right,#535cf1, #A147e4);
    clip-path: polygon(0 0, 100% 0,100% 90%,0 100%);
    color: #fff;
}
.pricing .basic .price{
    display: block;
    text-align: center;
    padding: 20px 0;
}
.pricing .basic .price .sing{
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}
.pricing .basic .price .currency{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}
.pricing .basic .price .cent{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}
.pricing .basic .price .month{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}
.pricing .basic ul li{
    border-top: 1px solid #ccc;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
    color: #7f8c8d;
}
.pricing .basic ul li i{
    padding-right: 5px;
    color: #535cf1;
}
.pricing .heading-btn{
    margin: 2rem auto;
    width: 170px;
}
.pricing .heading-btn a{
    font-weight: normal;
    font-size: 18px;
    border-radius: 50px;
    outline: medium none;
    border: 1px solid #2ecc71;
    color: #1d1d1d;
}
.pricing #standard .heading-btn a{
    background-image: linear-gradient(to right,#535cf1, #A147e4);
    color: #fff;
    border: #1d1d1d;
}
.pricing .basic:hover .heading-btn a{
    background-image: linear-gradient(to right,#535cf1, #A147e4);
    color: #fff;
    border: #1d1d1d;
}
.pricing .table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.calltoact{
    background-image: linear-gradient(to right,rgba(255,0,0,0),#910afa), url(img/2.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 15%;
}
.calltoact .parallax{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.calltoact .parallax h3, .calltoact .parallax p{
    color: #fff;
}
.calltoact .parallax p{
    font-size: 18px;
    padding: 20px 0;
}
.calltoact .parallax .call-news{
    background-color: #fff;
    max-width: 450px;
    margin: auto;
    border-radius: 50px;
    padding: 12px 0 12px 15px;
    position: relative;
}
.calltoact .parallax .call-news i{
    color: #535cf1;
    padding-right: 10px;
    font-size: 18px;
}
.calltoact .parallax .call-news input{
    border: none;
    outline: none;
    font-size: 18px;
}
.calltoact .parallax .call-news button{
    background-image: linear-gradient(to right,#535cf1, #A147e4);
    border:none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 50px;
}
/*-------------------------------------------------------------contact----------------*/
.contact{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
.contact .form{
    width: 70%;
}
.contact .form .first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}
.contact .form .first-row input{ 
    width: 47%;
    height: 55px;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
}
.contact .form textarea{
    width: 100%;
    resize: none;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
    padding-top: 15px;
}
.contact .form a{
    border-radius: 50px;
    background-image: linear-gradient(to right,#535cf1, #A147e4);
    color: #fff;
    border: #1d1d1d;
    margin-top: 15px;
}
/*------------------------------------------------------footer-----------------------------*/
footer{
    margin-top: 10%;
    background-color: #f4f6f7;
    padding: 7rem;
}
footer .row-one, footer .row-one ul{
    display: flex;
    justify-content: row;
    justify-content: flex-start;
    align-items: center;
}
footer .row-one a, .nav .logo i{
    padding-right: 20px;
    font-size: 26px;
    color: #6c6c6c;
}
footer .second-row{
    display: flex;
    justify-content: row;
    justify-content: space-between;   
}
footer .second-row h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #6c6c6c;
    padding-bottom: 20px;
}
footer .second-row li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #121212;
}
footer .second-row li{
    padding-bottom: 12px ;
}
footer .second-row .first-row:nth-child(4){
    max-width: 300px;
}
footer .second-row .newsletter{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
}
footer .second-row .newsletter input{
    width: 100%;
    height: 44px;
    border-radius: 30px;
    padding: 0 24px;
    border: 0;
    background-color: rgba(33, 33,33, 0.12);
    font-weight: 500;
    outline: none;
}
footer .second-row .newsletter input::placeholder{
    opacity: 1;
    color: #6c6c6c;
}
footer .second-row .newsletter button{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    border: 0;
    font-size: 20px;
    color: #121212;
    background-color: none;
    cursor: pointer;
}
footer .second-row .text{
    margin-top: 20px;
}
.copyright{
    background-color: #2b354f;
    padding: 23px 0;
}
.copyright p{
    text-align: center;
    color: #fff ;
}
.copyright a{
    color: #2ecc71;
}
@media only screen and (max-width:946px){
.nav{
        padding: 1rem 3rem;
}
.nav .navbar-social{
        display: none;
}
.hero-text{
        width: 60%;
}
.hero-text h3{
        font-size: 33px;
}
#wrapper{
    margin: 3rem 3rem 10rem 3rem;
}
.service h6{
    margin-bottom: 3rem;
}
.service{
  margin-bottom: 3rem;                                  
}
.service .service-content{
    flex-direction: column-reverse;
    justify-content: center;
}
.service .service-content .service-img{
    width: 100%;
    margin-bottom: 5rem;
}
.service .service-content .box{
    width: 100%;
   
}
.service .service-content .box .box-one{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pricing .table{
justify-content: space-evenly;
flex-wrap: wrap;
}
.pricing .basic{
margin-bottom: 3rem;
}
.calltoact{
    margin-bottom: 5rem;
}
.calltoact .parallax{
 width: 80%;
}
.contact .form{
    width: 80%;
}

}
@media only screen and (max-width:774px){
    .nav{
    padding: 0.7rem 1rem;
}
.nav .navbar-toggler{
    display: block;
  position: absolute;
  top: 26px;
  right: 16px;
  z-index: 1000000;

}
.nav .menu-bar{
 position: fixed;
 top: 55px;
 right: -360px;
 width: 300px;
 height: 100vh;
 background-color: rgba(256, 256, 256, 0.9);
 transition: all 0.6s ease;
}
.nav .menu-bar .menu-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    padding: 40px 0;
}
.nav .menu-bar .menu-item li{
    margin: 2rem 30px;
}
.hero-text{
    width: 80%;
}
.hero-text h6{
    font-size: 16px;
}
#wrapper{
    margin: 3rem 1rem 10rem 1rem;
}
.service h3{
    font-size: 33px;
}
.service h6{
    font-size:16px;
}
.service .service-content .service-img{
    width: 90%;
    margin-bottom: 5rem;
}
.pricing h3{
    font-size: 33px;
}
.pricing h6{
    font-size: 16px;
}
.pricing .table{
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    }
    .pricing .basic{
    margin-bottom: 3rem;
    }
    .calltoact{
        margin-bottom: 5rem;
    }
    .calltoact .parallax{
     width: 90%;
    }
    .calltoact .parallax h3{
        font-size: 33px;
    }
    .calltoact .parallax h6{
        font-size: 16px;
    }
    .contact .form h3{
        font-size: 33px;
    }
    .contact .form h6{
        font-size: 16px;
    }
    .contact .form{
        width: 90%;
    }
    footer{
        padding: 4rem 1rem;
    }

}
@media only screen and (max-width:541px){
    .hero-text h3{
        font-size: 28px;
        line-height: 45px;
    }
    .service .service-content .box{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: self-start;
    }
    .contact .form{
        width: 100%;
    }
    .contact .form .first-row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .contact .form .first-row input{
        width: 100%;
        margin-bottom: 1rem;
    }

}

